// MEDIA QUERIES
/////////////////////////////////////////////////////////



// 1176
/////////////////////////////////////////////////////////
@include media($adjust-background-size) {
    // Problem
    section#problem {
        background-size: inherit;
        padding-bottom: 8em;
    }

}


// ADJUST GRID/TYPE
// /////////////////////////////////////////////////////////
@include media($adjust-grid-down) {
    // Cards
    .card {
        display: block;
        float: none;
        width: 300px;
        min-height: inherit;
        margin: $base-line-height auto !important;
    }
    // Type
    h2 {
        font-size: 2.5em;
    }

    // Highlights
    ul.highlights-list li {
        .icon-container {
            margin-left: 9.5298%;
        }
        .col-one {
            width: 8.17215%;
        }
        .icon {
            font-size: 3em;
        }
        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1em;
        }
    }
}

// LANDSCAPE
/////////////////////////////////////////////////////////
@include media($ipad-landscape-down) {
    // Prompt
    #cycle-sections.hide-on-tablet {
        display: none;
    }
    #cycle-sections.show-on-tablet{
        position: inherit;
        display: inherit;
        margin: 20em auto 0;
        left: 0;
    }
}

// TOUCH
//////////////////////////////////////////
.touch {
    // Fades
    .fadeOn-one,
    .fadeOn-two,
    .fadeOn-three,
    .fadeOn-one-slow,
    .fadeOn-two-slow,
    .fadeUp-one,
    .fadeUp-two{
      @include opacity(1);
      @include transform(none);
    }
    // Prompt - repeat for good measure
    #cycle-sections.hide-on-tablet {
        display: none;
    }
    #cycle-sections.show-on-tablet{
        position: inherit;
        display: inherit;
        margin: 20em auto 0;
        left: 0;
    }
}



// PORTRAIT
/////////////////////////////////////////////////////////
@include media($ipad-portrait-down) {

    // Prompt
    #cycle-sections.show-on-tablet{
        margin: 4em auto 0;
    }

    // Section
    section {
        height: auto !important;
        min-height: inherit !important;
    }

    // Utility Hide/Show
    .hide-on-tablet {
        display: none !important;
    }
    .show-on-tablet {
        display: inherit !important;
    }

    // Type
    h1, section#question h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.25em;
    }

    // Highlights
    ul.highlights-list li {
        text-align: center;
        .icon-container {
            margin: auto;
            text-align: center;
        }
        h1 {
            font-size: 1.5em;
        }
        p {
            font-size: 1.25em;
        }
        .copy-container {
            padding: 1em 1.5em 1em 3em;
        }
        .icon {
            left:0;
        }
    }
    p {
        font-size: 1em;
    }

    // Question
    section#question {
        h1 em {
            display: block;
            margin: 1em auto .5em;
        }
        .content-background {
            min-height: inherit;
        }
    }


    // Utility Grid
    .col-one,
    .col-two,
    .col-three,
    .col-four,
    .col-five,
    .col-six,
    .col-seven,
    .col-eight,
    .col-nine,
    .col-ten,
    .col-eleven,
    .col-twelve{
        @include fullBleed;
        margin: $base-line-height auto;
    }



}


@include media($phone-down) {
    // Cards
    .card {
        width: auto;
    }

    // Sections
    section {
        padding:3em .5em 3em;
    }

    // Logo
    section#contact .logo-wrap {
        width: 250px;
    }
    // Question
    section#question {
        h1 em {
            padding-bottom:0;
        }

        .content-background {
            min-height: inherit;
        }
    }
    .touch #cycle-sections {
        margin-top: 4em !important;
    }

    // Problem
    section#problem {
        padding: 5em .25em;
    }

}