// MEDIA QUERIES
/////////////////////////////////////////////////////////



// 1176
/////////////////////////////////////////////////////////
@include media($adjust-background-size) {
    // Section
    section {
        height: auto !important;
        min-height: inherit !important;
    }

    // Problem
    section#problem {
        background-size: inherit;
        min-height: inherit;
        padding-bottom: 8em;
    }

}


// LANDSCAPE
/////////////////////////////////////////////////////////
// @include media($ipad-landscape-down) {
//     h4 {
//         font-size: 1em;
//     }
// }


// // ADJUST GRID/TYPE
// /////////////////////////////////////////////////////////
@include media($adjust-grid-down) {
    // Cards
    .card {
        display: block;
        float: none;
        width: 300px;
        min-height: inherit;
        margin: $base-line-height auto !important;
    }
    // Type
    h2 {
        font-size: 2.5em;
    }

    // Highlights
    ul.highlights-list li {
        .icon-container {
            margin-left: 9.5298%;
        }
        .col-one {
            width: 8.17215%;
        }
        .icon {
            font-size: 3em;
        }
        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1em;
        }
    }
}


// PORTRAIT
/////////////////////////////////////////////////////////
@include media($ipad-portrait-down) {

    // Utility Hide/Show
    .hide-on-tablet {
        display: none !important;
    }
    .show-on-tablet {
        display: inherit !important;
    }

    // Type
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.25em;
    }

    // Highlights
    ul.highlights-list li {
        text-align: center;
        .icon-container {
            margin: auto;
            text-align: center;
        }
        h1 {
            font-size: 1.5em;
        }
        p {
            font-size: 1.25em;
        }
        .copy-container {
            padding: 1em 1.5em 1em 3em;
        }
        .icon {
            left:0;
        }
    }
    p {
        font-size: 1em;
    }

    // Question
    section#question h1 em {
        display: block;
        margin: 1em auto .5em;
    }

    // Utility Grid
    .col-one,
    .col-two,
    .col-three,
    .col-four,
    .col-five,
    .col-six,
    .col-seven,
    .col-eight,
    .col-nine,
    .col-ten,
    .col-eleven,
    .col-twelve{
        @include fullBleed;
        margin: $base-line-height auto;
    }



}

// TOUCH
//////////////////////////////////////////
.touch {
    // Fades
    .fadeUp-one,
    .fadeUp-two,
    .fadeOn-one,
    .fadeOn-two,
    .fadeOn-three{
      @include opacity(1);
    }
}


@include media($phone-down) {
    // Cards
    .card {
        width: auto;
    }

    // Sections
    section {
        padding:3em .5em 3em;
    }

    // Question
    section#question {
        h1 em {
            padding-bottom:0;
        }
        .scroll-prompt {
            margin-top: 4em;
        }
        .content-background {
            min-height: inherit;
        }
    }

    // Problem
    section#problem {
        padding: 5em .25em;
    }

}