
// Structure: General //
html, body {
    background: $base-body-color;
    height: 100%;
}
body {
    overflow-x: hidden;
}
.content-row {
    @include row();
}
.bounds {
    @include outer-container();
    padding: 0 $gutter;
}
section {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height:768px;
    padding: ($base-line-height*4) $base-line-height ($base-line-height*2);
}

#main-content {
    position: relative;
    z-index: 1;
}

// Cycle Sections Nav
#cycle-sections {
    z-index: 100;
    position: fixed;
    bottom: 1em;
    line-height: 1em;
    margin-left: -39px;
    text-align: center;
    left:50%;
    color: $white-2;
    // @include transition(transform .3s ease-in-out, opacity .3s ease-in-out, color .3s ease-in-out)
    @include transition(transform .3s ease-in-out, color .3s ease-in-out, opacity 1s ease-in-out);
    small {
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        font-size: 0.63em;
    }
    .icon {
        display: block;
        cursor:pointer;
        font-size: 1.25em;
    }
    small,.icon {@include transition(opacity .3s ease-in-out);}

    &:hover {
        @include transform(translate3d(0,4px, 0));
    }

    #prev {
        @include transform(rotate(180deg));
        @include opacity(0);
    }
    #next {
        position: relative;
        top: -2px;
    }

    &.below-1 {
        color: $blue-1;
        #prev {
            @include opacity(1);
        }
        small {
            @include opacity(0);
        }
    }
    &.at-bottom {
        #next {
            @include opacity(0);
        }
    }
}



// Mixins: Section Colors/Backgrounds //
// Blue Panels
@mixin blue-2-panel {
    background: $blue-2;
    color: $blue-4;

    h1,h2,h3,h4,p {
        color: $blue-4;
    }
}

@mixin blue-4-panel {
    background: $blue-4;
    color: $blue-2;

    h1,h2,h3,h4,p {
        color: $blue-2;
    }
}


// White Panel
@mixin white-2-panel {
    background: $white-2;
    color: $blue-2;

    h1,h2,h3,h4,p {
        color: $blue-1;
    }
}


@mixin white-3-panel {
    background: $white-3;
    color: $blue-2;

    h1,h2,h3,h4,p {
        color: $blue-2;
    }
}

// Black Panel
@mixin black-1-panel {
    background: $black-1;
    color: $white-1;

    h1,h2,h3,h4,p {
        color: $white-1;
    }
}


// Structure: Sections //
section#question {
    text-align: center;
    border-bottom: 1px solid darken($blue-2, 30);

    .content-background {
        @include transition(opacity .3s ease-in-out);
        background: url('../img/content/desk.jpg') no-repeat top center;
        background-size: cover;
        min-height: 700px;
        position: absolute;
        height:100%;
        width: 100%;
        z-index: 0;
        top:0;
        left:0;
    }

    .bounds {
        position: relative;
        z-index: 10;
    }

    span, em {
        display: inline-block;
    }

    h1 {
        color: $white-2;

        em {
            font-size: 0.6em;
            text-transform: none;
            position: relative;
            top: -12px;
            letter-spacing: .012em;
            padding: 0 16px;
        }
    }
}

section#philosophy {
    // height: 100%;
    @include blue-2-panel;
}

section#problem {
    // height: 100%;
    padding: 8em 1.5em 1em;
    min-height: 700px;
    @include black-1-panel;
    text-align: center;
    border-top: 1px solid $black-1;
    border-bottom: 1px solid $black-1;
    z-index: 10;
    position: relative;

    .bounds {
        z-index: 10;
        position: relative;
    }

    .content-background {
        @include transition(transition .3s ease-in-);
        background: url('../img/content/city.jpg') no-repeat top center;
        background-size: cover;
        min-height: 700px;
        position: absolute;
        height:900px;
        width: 100%;
        z-index: 0;
        top:0;
        left:0;
    }

    h2 {font-weight: 400;}
}

section#approach-1 {
    @include blue-4-panel;
    padding-bottom: 4em;
    z-index: 10;
}

section#approach-2 {
    min-height: inherit;
    @include white-3-panel;
    text-align: center;
    border-top: 1px solid darken($blue-4, 4);
    border-bottom: 1px solid $blue-4;
    padding: 6em 1.5em;
    p {
        margin-bottom: 0;
    }
    hr {
        margin: 100px auto;
    }
}

section#approach-3 {
    min-height: inherit;
    padding: 0;
    @include clearfix;
    background: lighten($blue-4, 50);
}

section#contact {
    // height: 100%;
    @include blue-2-panel;
    .logo-wrap {
        width: 300px;
        img {
            margin: ($base-line-height * 6) 0 ($base-line-height * 2);
        }
    }
}


// Structure: Lists //
@include media($ipad-landscape-up) {
    ul.highlights-list li:hover {
        @include transform(translate3d(3.17215%,0px, 0));
        .icon {
            @include transform(translate3d(20.17215%, 0px, 0));
        }
        h1,p {
            @include opacity(1);
            @include transform(translate3d(1.17215%,0px, 0));
        }
    }
}
ul.highlights-list {
    li {
        padding:1.5em 0 3em;
        @include clearfix;
        border-bottom: 1px solid $blue-4;
        position: relative;
        @include transition(transform .3s ease-in-out);

        &:last-child {
            border-bottom: 0px;
        }

        &:before {
            content: '';
            position: absolute;
            // @include span-columns(1);
            width: 11.17215%;
            left: -3.17215%;
            height: 100%;
            top:0;
            // left:0;
        }

        .icon {
            font-size: 4em;
            position: relative;
            top: 24px;
            left: 12px;
        }

        p {
            font-size: $base-font-size;
            margin: $base-line-height/3 auto $base-line-height/2;
            font-size: $base-font-size * 1.25;
            line-height: 1.125em;
            letter-spacing: 0.0125em;
            word-spacing: 0.0125em;
        }
        .icon-container {
            @include shift(1);
        }

        h1,p,.icon {
            @include transition(transform .3s ease-in-out, opacity .3s ease-in-out);
        }

        h1,p,.icon {
            @include opacity(.8);
        }


        &.highlight-one {
            &:before {
                background: $blue-1;
                border-bottom: $blue-1 1px solid;
            }

        }
        &.highlight-two {
            &:before {
                background: $blue-2;
                border-bottom: $blue-2 1px solid;
            }
        }
        &.highlight-three {
            &:before {
                background: $blue-3;
            }

        }
    }
}


// Structure: Cards //
.card {
    background: transparentize($white-2, .1);
    @include transition(all .3s ease-in-out);
    color: $blue-1;
    border: 1px solid darken($white-3, 10);
    @include border-right-radius(6px);
    @include border-left-radius(6px);
    @include span-columns(4);
    padding: 20px 30px 24px;
    min-height: 410px;

    .title {
        text-align: center;
        text-transform: uppercase;
        margin: .875em auto 1.45em;
    }
    p {
        text-align: center;
        font-size: $base-font-size;
        margin: $base-line-height/3 auto $base-line-height/2;

    }
    &:hover {
        background: $white-2;
        border: 1px solid darken($white-3, 20);
        box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
}
// Icons
.icon-gear {
    @include transition(background .4s ease-in-out, border .4s ease-in-out, color .1s ease-in-out);
    font-size: 58px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 100px;
    color: $yellow-1;
    border: 3px solid $yellow-1;
    &:before {
        position: relative;
        left: 0px;
        top: 3px;
    }
}

// Card Hover
.card:hover .icon-gear {
    border-color: $blue-2;
    background: $blue-2;
    color: $white-2;
}

